body {
    background-color: #f5f5f5;
}

.bg-vinho {
    background-color: #6b1d1d;
}

.carousel-item {
    height: 50vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-caption {
    bottom: 30%;
}

.card-livro img {
    height: 220px !important;
    object-fit: cover !important;
}

.status-disponivel {
    color: #198754;
    font-weight: bold;
}

.status-alugado {
    color: #dc3545;
    font-weight: bold;
}

/*-----------Slide mais alugados------------------*/
.mais-alugados {
    margin: 40px auto;
    max-width: 1200px;
}

.mais-alugados h2 {
    margin-bottom: 15px;
    color: #6d0f23;
}

/* CONTAINER GERAL */
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

/* ÁREA VISÍVEL */
.slider-viewport {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 10px 40px;
    width: 100%;
}

/* BOTÕES */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #a1acc1;    
    color: #fff;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slider-btn.left {
    left: 5px;
}

.slider-btn.right {
    right: -30px;
}

.slider-btn:hover {
    background: #6d0f23;
}

/* CARD */
.livro-card {
    min-width: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    display: flex;
    gap: 12px;
    padding: 10px;
    cursor: grab;
}

.livro-card img {
    width: 80px;
    height: 110px;
    object-fit: cover;
    border-radius: 6px;
}

.livro-info h4 {
    font-size: 15px;
    margin: 0 0 6px;
}

.status {
    font-size: 12px;
    font-weight: bold;
}

.status.disponível {
    color: green;
}

.status.alugado {
    color: #b00020;
}

/*------------------------Buscar Livro por nome--------*/
.busca-livro {
  background: #f5f5f5;
}

#resultadoBusca {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  padding-left: 10px;
}

.buscar-livro {
  display: flex;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,.12);
  overflow: hidden;
}

.buscar-livro img {
  width: 90px;
  height: 130px;
  object-fit: cover;
}

.buscar-livro .info {
  padding: 10px;
}

.status-disponivel {
  color: green;
  font-weight: bold;
}

.status-alugado {
  color: #8b0000;
  font-weight: bold;
}
/*-------------------------Detalhes do livro-------------*/
.card-livro-link {
  text-decoration: none;
  color: inherit;
}

.card-livro-link:hover {
  transform: scale(1.01);
}

img.shadow {
  border-radius: 6px;
}








